@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/*General styling*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

/*Navigation bar*/
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #ffffff;
  align-items: center;
  flex-wrap: wrap;
}
nav .logo{
  width: 150px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #020202;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
.dropbtn {
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  background: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-top: -7%;
}

.buttons button:hover{
  color:rgb(3, 3, 3); 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:hover{
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search input{
  padding: 10px;
  width: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search button {
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search button:hover{
  background: linear-gradient(375deg, #7eb9bc, #88cfb3);
  color:rgb(3, 3, 3);
}

@media (max-width: 920px) {
  .menu-btn{
    display: block;
    position: relative;
    justify-self: center;
  }
  nav .menu-btn i{
    display: block;
    color: #020202;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
    color: #111;
  }

  nav .logo{
    width: 120px;
  }

  nav ul{
    position: absolute;
    top: 80px;
    left: -300%;
    background: #ffffff;
    height: 100vh;
    display: block;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    justify-content: space-between;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 10px 0;
  }
  nav ul li a{
    width: 100%;
    display: block;
    font-size: 20px;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #1cc7d0
  }

  .dropdown-content {
    display: block;
    position: relative;
    background-color: #ffffff;
    box-shadow: none;
    text-align: center;
  }
  .dropdown-content a:hover{
    background: none;
  }
  .dropbtn:hover{
    background: none;
  }
}

/*search bar in the nav bar*/
.search {
  align-items: center;
}

.search input{
  padding: 10px;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search button {
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  .search button:hover{
    background: linear-gradient(375deg, #7eb9bc, #88cfb3);
    color:rgb(3, 3, 3);
  }

  /*banner slideshow*/
  .banner {
    position: relative;
    width: 100%;
    height: auto; 
    margin-top: 1%;
  }

  .container{
    width: 100%;
    position: relative;
    overflow: hidden;
    align-self: center;
    z-index: -2;
  }

  .wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
  }
  
  img{
    width: 100%;
  }
  
  @keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
  }
  
  /*Introduction Content*/

  .aboutus{
    width: 100%;
    padding: 40px 0;
    background: #ffffff;
  }

  .pic{
    height: 400px;
    width:  400px;
  }
  .about{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
  }

  .pic2{
    height: 370px;
    width:  500px;
    order: 2;
  }
  .about2{
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-bottom: 30px;
    }
  
    .text{
      width: 540px;
    }
    .text h2, h1{
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 2px;
      color: #005339;
    }
    .text h5{
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    span{
      color: #005339;
    }

/*Login & Signup Popup box*/

    .box {
      width: 40%;
      margin: 0 auto;
      background: rgba(255,255,255,0.2);
      padding: 35px;
      text-align: center;
    }
    
    .button {
      font-size: 1em;
      padding: 10px;
      color: #000000;
      background: linear-gradient(375deg, #1cc7d0, #2ede98);
      text-decoration: none;
      cursor: pointer;
      border: none;
      border-radius: 4px;
    }
    .button:hover {
      background: linear-gradient(375deg, #7eb9bc, #88cfb3);
    }
    
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      visibility: hidden;
      opacity: 0;
    }
    .overlay:target {
      visibility: visible;
      opacity: 1;
    }
    .popup {
      margin: 70px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 30%;
      position: relative;
    }
    .popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
    .popup .content {
      max-height: 30%;
      overflow: auto;
    }
    
    form {
      display: flex;
      flex-direction: column;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #000000;
    }
    .input-field {
      position: relative;
      border-bottom: 2px solid #000000;
      margin: 15px 0;
    }
    .input-field label {
      position: absolute;
      top: 50%;
      left: 0;
      color: #000000;
      font-size: 16px;
      pointer-events: none;
      transition: 0.15s ease;
    }
    .input-field input {
      width: 100%;
      height: 40px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 16px;
      color: #000000;
    }
    .input-field input:focus~label {
      font-size: 0.8rem;
      top: 10px;
      transform: translateY(-120%);
    }
    .forget {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 25px 0 35px 0;
      color: #000000;
    }
    .forget label {
      display: flex;
      align-items: center;
    }
    .forget label p {
      margin-left: 8px;
    }
    .wrapper a {
      color: #000000;
      text-decoration: none;
    }
    .wrapper a:hover {
      text-decoration: underline;
    }
    button {
      background: linear-gradient(375deg, #1cc7d0, #2ede98);
      color: #000;
      font-weight: 600;
      border: none;
      padding: 12px 20px;
      cursor: pointer;
      border-radius: 3px;
      font-size: 16px;
      border: 2px solid transparent;
      transition: 0.3s ease;
    }
    button:hover {
      color: #000000;
      background: linear-gradient(375deg, #7eb9bc, #88cfb3);
    }
    .register {
      text-align: center;
      margin-top: 30px;
      color: #000000;
    }
   

    /*Footer section*/

    .footer {
      position: absolute;
      width: 100%;
      background: linear-gradient(375deg, #1cc7d0, #2ede98);
      border-radius: 6px; 
    }
    
    .footer .footer-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 3.5rem;
      padding: 1%;
    }
    
    .footer-row .footer-col h4 {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 400;
      color: black;
    }
    
    .footer-col .links {
      margin-top: 20px;
    }
    
    .footer-col .links li {
      list-style: none;
      margin-bottom: 10px;
    }
    
    .footer-col .links li a {
      text-decoration: none;
      color: black;
    }
    
    .footer-col .links li a:hover {
      color: #fff;
    }
    
    .footer-col p {
      margin: 20px 0;
      color: black;
      max-width: 300px;
    }
    
    .footer-col form {
      display: flex;
      gap: 5px;
    }
    
    .footer-col input {
      height: 40px;
      border-radius: 6px;
      background: none;
      width: 100%;
      outline: none;
      border: 1px solid #7489C6 ;
      color: black;
      padding-left: 10px;
    }
    
    .footer-col input::placeholder {
      color: black;
    }
    
     .footer-col form button {
      background: #fff;
      outline: none;
      border: none;
      padding: 10px 15px;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 500;
      transition: 0.2s ease;
    }
    
    .footer-col form button:hover {
      background: #cecccc;
    }
    
    .footer-col .icons {
      display: flex;
      margin-top: 30px;
      gap: 30px;
      cursor: pointer;
    }
    
    .footer-col .icons a {
      color: black;
      text-decoration: none;
    }
    
    .footer-col .icons a:hover  {
      color: #fff;
    }
    
    .bottom-details .bottom_text {
      color: rgb(0, 0, 0);
      margin-left: 10px;
      margin-bottom: 5px;
    }
    
    /*Media queries*/
    
    @media (max-width: 550px) {
      .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
      }
    
      .footer .footer-row {
        padding: 20px;
        gap: 1rem;
      }
    
      .footer-col form {
        display: block;
      }
    
      .footer-col form :where(input, button) {
        width: 100%;
      }
    
      .footer-col form button {
        margin: 10px 0 0 0;
      }

      .box{
        width: 70%;
      }
      .popup{
        width: 70%;
      }
      .form-container{
          width: 70%;
        }
      .pic, .pic2{
        width: 100%;
      }
    }
    
    @media (max-width: 950px) {
      .about, .about2{
        display: block;
        margin-left: 2%;
        text-align: center;
      }
      .text{
        width:100% ;
      }
      .aboutus{
        width: 100%;
      }
      .pic,.pic2{
        align-items: center;
      }
    }
    @media (max-width:400px){
      .search input{
        padding: 10px;
        width: 120px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 2px;
      }

    }
   