@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/*General Styling*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
/*Navigation Bar*/
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #ffffff;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .logo{
  width: 150px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #020202;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
.dropbtn {
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  background: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-top: -7%;
}

.buttons button:hover{
  color:rgb(3, 3, 3); 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:hover{
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner img {
  position: relative;
  width: 100%;
  height: 100%; 
  z-index: -2;
}

.search input{
  padding: 10px;
  width: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search button {
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search button:hover{
  background: linear-gradient(375deg, #7eb9bc, #88cfb3);
  color:rgb(3, 3, 3);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 920px) {
  .menu-btn{
    display: block;
    position: relative;
    justify-self: center;
  }
  nav .menu-btn i{
    display: block;
    color: #020202;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
    color: #111;
  }

  nav .logo{
    width: 120px;
  }

  nav ul{
    position: absolute;
    top: 80px;
    left: -300%;
    background: #ffffff;
    height: 100vh;
    display: block;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 10px 0;
  }
  nav ul li a{
    width: 100%;
    display: block;
    font-size: 20px;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color:#1cc7d0;
  }

  .dropdown-content {
    display: block;
    position: relative;
    background-color: #ffffff;
    box-shadow: none;
    text-align: center;
  }
  .dropdown-content a:hover{
    background: none;
  }
  .dropbtn:hover{
    background: none;
  }
}

/*Product Deals scroll bar sliders*/
.veg{
  background: linear-gradient(375deg, #57fb57, #c1f77f);
  text-align: center;
}
.dairy{
  text-align: center;
  background: linear-gradient(375deg, #2ec9fd, #a5f2fd);
}
.cosmetics{
  background: linear-gradient(375deg, #faaeae, #fde1e7);
  text-align: center;
}

div.scrollmenu {
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #ffffff;
  overflow: auto;
  white-space: nowrap;
}

.product-cardveg{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 2px 5px rgb(0, 112, 1);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;  
  width: 28%;
}

.product-cardveg:hover {
  box-shadow: 0 4px 8px rgb(1, 93, 21);  
}

.product-cardveg img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.product-info {
  margin-top: 15px;
}

.product-info h4 {
  font-size: 18px;
  margin-bottom: 3px;
}

.rating {
  color: rgb(176, 174, 171);
}

.rating .fa-star {
  font-size: 16px;
  margin-right: 5px;
}

.rating .fa-star.checked {
  color: gold;
  margin-bottom: 10px;
}

.price{
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}

.buttonsveg button {
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    background: linear-gradient(375deg, #42bf42, #aef359);
  }

  .buttonsveg button:hover{
    color:rgb(3, 3, 3);
    background: linear-gradient(375deg, #57fb57, #c1f77f);  
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  select {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(375deg, #42bf42, #aef359);
  }

  .product-card-dairy {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 28%; 
    background-color: #fff;
    box-shadow: 0 2px 5px #0492c2;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;  
  }
  
  .product-card-dairy:hover {
    box-shadow: 0 4px 8px rgb(0, 70, 81); 
  }
  
  .product-card-dairy img {
    width: 200px;
    height: 200px; 
    object-fit: cover;
  }

  .buttons-dairy button {
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    background: linear-gradient(375deg, #06a9e0, #82eefd);
  }

  .buttons-dairy button:hover{
    color:rgb(3, 3, 3);
    background: linear-gradient(375deg, #2ec9fd, #a5f2fd);
  }

  .dropdown-dairy {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-dairy select {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(375deg, #06a9e0, #82eefd);
  }

  .product-card-cos {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 28%; 
    background-color: #fff;
    box-shadow: 0 2px 5px #ffc1cc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;  
  }
  
  .product-card-cos:hover {
    box-shadow: 0 4px 8px rgb(248, 126, 126); 
  }
  
  .product-card-cos img {
    width: 200px;
    height: 200px; 
    object-fit: cover;
  }

  .buttons-cos button {
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    background: linear-gradient(375deg, #ff9999, #ffd1dc);
  }

  .buttons-cos button:hover{
    color:rgb(3, 3, 3);
    background: linear-gradient(375deg, #faaeae, #fde1e7); 
  }

  .dropdown-cos {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-cos select {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(375deg, #faaeae, #fde1e7); 
  }

   /*Footer section*/

   .footer {
    position: absolute;
    width: 100%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    border-radius: 6px; 
  }
  
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 1%;
  }
  
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
  }
  
  .footer-col .links {
    margin-top: 20px;
  }
  
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color: black;
  }
  
  .footer-col .links li a:hover {
    color: #fff;
  }
  
  .footer-col p {
    margin: 20px 0;
    color: black;
    max-width: 300px;
  }
  
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    color: black;
    padding-left: 10px;
  }
  
  .footer-col input::placeholder {
    color: black;
  }
  
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  
  .footer-col form button:hover {
    background: #cecccc;
  }
  
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  
  .footer-col .icons a {
    color: black;
    text-decoration: none;
  }
  
  .footer-col .icons a:hover  {
    color: #fff;
  }
  
  .bottom-details .bottom_text {
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  /*Media queries*/
  @media only screen and (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
  
    .footer-col form {
      display: block;
    }
  
    .footer-col form :where(input, button) {
      width: 100%;
    }
  
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }

  @media (max-width:800px){
    .product-card-dairy, .product-cardveg, .product-card-cos{
      display: block;
      width: 80%;
    }
    .div.scrollmenu{
      display: none;
    }
  }

  @media (max-width:400px){
    .search input{
      padding: 10px;
      width: 120px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 2px;
    }
  }

